#quiz-form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #a17eda 0%, #895fc4 100%);
  color: #3a2353;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6);
  animation: slide-in-from-bottom 0.7s ease-out;

  input,
  select {
    margin-bottom: 0.4rem;
    margin-top: 0.2rem;
    border-radius: 5px;
  }
}

#start-quiz {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
