@import "../app//utils.scss";

#summary {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(180deg, #a17eda 0%, #895fc4 100%);
  color: #191321;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6);
  animation: slide-in-from-bottom 0.7s ease-out;
}

#summary img {
  display: block;
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
  border: 2px solid #3a2353;
  border-radius: 50%;
  background: #c18cfa;
}

#summary h2 {
  font-family: var(--robo);
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  color: #3a2353;
}

#summary ol {
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
}

#summary li {
  margin: 2rem 0;
}

#summary h3 {
  font-family: var(--robo-cond);
  font-size: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c203d;
  color: #d8cde8;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

#summary .question {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: #30273a;
}

#summary .user-answer {
  font-family: var(--robo-cond);
  font-weight: bold;
  margin: 0.25rem 0;
  color: #251e2f;
}

#summary .user-answer.correct {
  color: #054e37;
}

#summary .user-answer.wrong {
  color: #730b4b;
}

#summary .user-answer.skipped {
  color: #d1baf2;
  font-weight: normal;
}

#summary-stats {
  width: 60%;
  margin: 2rem auto;
  padding-bottom: 2rem;
  border-bottom: 2px solid #594276;
}

#summary-stats p {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

#summary-stats .text {
  font-family: var(--robo-cond);
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #30273a;
  margin-top: -0.3rem;
  letter-spacing: 0.1rem;
}

#summary-stats .number {
  font-family: var(--robo-cond);
  font-size: 3rem;
  color: #594276;
}

// 3xs
@media (min-width: 320px) {
  #summary-stats {
    @include flex-cc;
    gap: 1rem;
  }
}

#again-btn {
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

// 2xs
// @media (min-width: 375px) {}

// xs
// @media (min-width: 475px) {}

// sm
@media (min-width: 640px) {
  #summary-stats {
    flex-direction: row;
    gap: 3rem;
  }
}

// md
// @media (min-width: 768px) {}

/* lg */
// @media (min-width: 1024px) {}

// xl
// @media (min-width: 1280px) {}

// 2xl
// @media (min-width: 1536px) {}
